body{
    background-color: aquamarine;
    display: grid;
}

.box{
    display: flex;
    flex-wrap: wrap;
}
.container{
    background-color:white ;
    margin: 0% 10% 10%;
    gap: 5%;
    border: 1px solid rgb(3, 3, 3);
    width: 400px;
    height: 400px;
    text-align: center;
    grid-template-columns: auto;
}
img{
    padding-top: 20px;
    width: 250px;
    height: 150px;
    border: 3px solid black;
    margin: 30px;
}
button{
    width: 100px;
    background-color: green;
    color: whitesmoke;
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
}